body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: rgba(165, 118, 78, 0.72);
    height: 81px;

    display: flex;
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: white;
}

.header__wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header__link {
    display: flex;
    flex-direction: row;
}

.header__logo_you_home {
    margin-left: 8px;
}

.you_home_logo {
    font-weight: bold;
    font-size: 13px;
}

.search-form-field {
    background-color: transparent;
    background: url(../img/search.svg) no-repeat right;
    background-size: 13px;
    border:0;
    border-bottom: 1px solid #FFFFFF;
    width: 170px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.search-form-field::placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.tel {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

.phone-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.shopping-cart-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.total-price {
    color: white;
    margin-left: 7px;
}

.registration-wrapper > a {
    text-decoration: none;
    color: white;
}
.registration-wrapper {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.registration-vertical-line {
    margin-left: 7px;
    margin-right: 7px;
}


.menu {
    background: rgba(224, 189, 150, 0.4);
    height: 28px;

    display: flex;
    align-items: center;
}
