body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header {
    background: rgba(165, 118, 78, 0.72);
    height: 81px;

    display: flex;
    align-items: center;
}

.header__link {
    text-decoration: none;
    color: white;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header__link {
    display: flex;
    flex-direction: row;
}

.header__logo_you_home {
    margin-left: 8px;
}

.you_home_logo {
    font-weight: bold;
    font-size: 13px;
}

